{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.2/css/boxicons.min.css" rel="stylesheet">
  <title>Responsive Navigation</title>
</head>
<body>
  <!-- Navigation Bar: Contains logo and menu items -->
  <nav class="container">
    <img src="{% static 'GBVLogo.png' %}" class="logoimg" alt="logo"/>

    
    
    <div class="menu-icon" id="menu-icon">
      <i class="bx bx-menu"></i>
    </div>

    <div class="thecontent" id="navbar">
      <ul>
        <li><a href="{% url 'homepage' %}" {% if active_page == 'homepage' %}class="active"{% endif %}><i class='bx bx-home'></i><span class="nav-text">Home</span></a></li>
        <li><a href="{% url 'reportincident' %}" {% if active_page == 'reportincident' %}class="active"{% endif %}><i class='bx bxs-report'></i><span class="nav-text">Report Incident</span></a></li>
        <li><a href="/er" {% if active_page == 'supportservices' %}class="active"{% endif %}><i class='bx bx-support'></i><span class="nav-text">Support Services</span></a></li>
        <li><a href="{% url 'aboutus' %}" {% if active_page == 'aboutus' %}class="active"{% endif %}><i class='bx bx-info-circle'></i><span class="nav-text">About Us</span></a></li>
      </ul>
    </div>

    <div class="hidecont">
      <div class="hidebtn">Hide Screen</div>
      <i class="bx bx-low-vision"></i>
    </div>

    
  </nav>

  <script>
    const menuIcon = document.getElementById('menu-icon');
    const navbar = document.getElementById('navbar');
    
    menuIcon.addEventListener('click', () => {
      navbar.classList.toggle('active');
    });
  </script>

</body>
</html>
